:root {
  --bg: rgba(129, 129, 129, 0.162);
}
body {
    background-color: #fcfcfc;
}
@media (min-width: 768px) {
  .nav-link.border-sm {
    position: relative;
    text-align: center !important;
    border: none !important;
  }
  .nav-link.border-sm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    border-bottom: 2px solid #00000070;
    transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .nav-link.border-sm:hover::after {
    width: 100%;
    border-bottom: 2px solid #000000;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}
.bg-custom {
  background-color: var(--bg);
}
.w-custom {
    width: 90% !important;
}
.fa,
.fa-solid {
  margin-right: 10px;
}
.fa-brands {
  margin-left: 10px;
}

/* Progress circle */
.progress-ring {
  transform: rotate(-90deg);
}
.progress-ring-bg {
  fill: none;
  stroke: #e9ecef;
  stroke-width: 5;
}
.progress-ring-fill {
  fill: none;
  stroke: #007bff;
  stroke-width: 10;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
}
.progress-text {
  font-size: 24px;
  font-weight: bold;
  fill: #ffffff;
  transform: rotate(90deg);
}