:root {
  --bg: rgba(129, 129, 129, 0.162);
}
body {
    background-color: #fcfcfc;
}
@media (min-width: 768px) {
  .nav-link.border-sm {
    position: relative;
    text-align: center !important;
    border: none !important;
  }
  .nav-link.border-sm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    border-bottom: 2px solid #00000070;
    transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .nav-link.border-sm:hover::after, 
  .nav-link.border-sm.active::after {
    width: 100%;
    border-bottom: 2px solid #000000;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}
.bg-custom {
  background-color: var(--bg);
}
.w-custom {
    width: 90% !important;
}
.fa,
.fa-solid {
  margin-right: 10px;
}
.fa-brands {
  margin-left: 10px;
}
/* Progress circle */
.progress-ring {
  width: 100%;
  max-width: 120px;
  transform: rotate(-90deg);
}
.progress-ring-bg {
  fill: none;
  stroke: #e9ecef;
  stroke-width: 5;
}
.progress-ring-fill {
  fill: none;
  stroke: #007bff;
  stroke-width: 10;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
}
.progress-text {
  font-size: 20px;
  font-weight: bold;
  fill: #ffffff;
  transform: rotate(90deg);
  dominant-baseline: middle;
}
/* font resizer  */
.flexi-text {
  font-size: clamp(12px, 1.5vw, 18px) !important;
  /* text-align: justify;  */
}
.justify {
  text-align: justify;
}
.flexi-title {
  font-size: clamp(12px, 2vw, 22px) !important;
  font-weight: 600;
}
.name {
  font-size: clamp(12px, 5vw, 70px) !important;
  font-weight: 600;
}
@media (min-width: 400px) {
  .img-sizes {
    max-width: 800px;
  }
}
.carousel-indicators {
  margin-bottom: 0.2rem;
}
/* Smaller indicators on screens less than 768px (tablets & phones) */
@media (max-width: 768px) {
  .carousel-indicators [data-bs-target] {
    width: 10px;
  }
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
}
#backToTop:hover {
  background-color: #0056b3;
} 