@media (min-width: 768px) {
    .nav-link.border-sm {
        position: relative; 
        text-align: center !important;
        border: none !important;
    }
    .nav-link.border-sm::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%; 
        transform: translateX(-50%);
        width: 30px;
        border-bottom: 2px solid #00000070;
        transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-link.border-sm:hover::after {
        width: 100%;
        border-bottom: 2px solid #000000;
    }
}
.navbar-toggler:focus {
    box-shadow: none;
  }